.hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

#bio_text{
	text-align: justify;

}
body{
	background: url("stardust.png");
	-webkit-text-size-adjust:none;
	-ms-text-size-adjust:none;
	-moz-text-size-adjust:none;
	text-size-adjust:none;
}
div{
	position: absolute;
	background-size: cover;
}
.squares{
	z-index: 1;
}
#container{
	width: 480px;
	height: 480px;
}
#container2{
	width: 480px;
	height: 480px;
	margin-left: 480px;
}
#container3{
	width: 480px;
	height: 480px;
	margin-left: 960px;
}
#biography{
	width: 80%;
	top: 15px;
    left: 200px;
	margin-top: 600px;
	margin-left: 10%;
	margin-right: 10%;
    height: auto;
    line-height: 150%;
    color: white;
}
#main_display {
	position: static;
    margin-left:auto;
    margin-right:auto;
    height:auto; 
    width:auto;
}
#spotify_art{
	float: left;
	margin-top: 100px;
	margin-left: 200px;
	padding-right: 200px;
	width: 1440px;
	height: 480px;
	overflow: hidden;
}

